* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(17, 15, 15);
}
#preloader{
  img{
    margin-left: 2%;
    width: 95vw;
  }
}
::-webkit-scrollbar {
  display: none;
}
.mainproducts {
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // align-items: center;
  color: white;
  .contanerproduct {
    min-width: 10%;
    margin: 10px 20px;
    padding: 10px;
    max-width: 20%;
    height: 300px;
    border: 2px solid transparent;
    filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.445));
    // box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    img {
      border-radius: 10px;
      width: auto;
      height: auto;
      max-width: 180px;
      max-height: 180px;
      align-self: center;
    }
    .producttitle {
      text-align: center;
      font-size: 15px;
      font-weight: 500;
    }
    .productprice {
      font-size: 18px;
      transform: translate(0%, -50%);
      color: rgb(165, 56, 56);
      text-align: center;
    }
    .addtocart {
      border: 2px solid transparent;
      border-radius: 15px;
      outline: none;
      background-color: yellow;
      height: 30px;
      width: 100px;
    }
    button {
      padding: 8px 4px;
      border: 2px solid transparent;
      border-radius: 10px;
      color: #212121;
      z-index: 1;
      background: #e8e8e8;
      position: relative;
      font-weight: 600;
      font-size: 17px;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
      transition: all 250ms;
      overflow: hidden;
      .FontAwesomeIcon{
        background-color: #e8e8e8;
      }
      &::before {
        .FontAwesomeIcon{
          background-color: #212121;
        }
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 0px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
        transition: all 250ms;
      }
      &:hover {
        color: #e8e8e8;
        .FontAwesomeIcon{
          background-color: #212121;
        }
      &::before {
        width: 100%;
        .FontAwesomeIcon{
          background-color: #212121;
        }
      }}
      // &::after{
      //   content: "In Cart";
      // }
    }
  }
}
@media all and (max-width: 500px) {
  .mainproducts {
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
    .contanerproduct {
      min-width: 85%;
      max-width: 95%;
      height: 320px;
    }
  }
}
